<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Atividade Lab3</title>
    </head>
    <body>
        <div class="container">
            <img src="D:\Documentos\Bertoti\Bertoti\Lab3\rest\src\main\resources\templates\gato.jpg"
            id="gato" width="100%" height="100%" border-radius="5px"/>
            <script>
                catchGato().catch(error => {
                    console.log('error!');
                    console.error(error);
                });
                async function catchGato() {
                    const response = await fetch('gato.jpg')
                    const blob = await response.blob
                    document.getElementById('gato').src = URL.createObjectURL(blob);
                };
            </script>
        </div>
    </body>
</html>